<div class="container">
  <ngx-datatable #table class="material"
    [columns]="columns"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'">
  </ngx-datatable>

</div>
